@font-face {
  font-family: "PraysireDemo";
  src: url("fonts/Praysire-Demo.woff2") format("woff2"),
       url("fonts/Praysire-Demo.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}